<div class="relative z-10 flex h-full w-full flex-col items-center gap-10 pt-32">
  <h1 class="z-10 text-4xl font-bold text-gray-950">TailwindCSS Color Palette Generator</h1>
  <div class="flex flex-col gap-2">
    <app-color-picker (hexColor)="selectedColor.set($event)"></app-color-picker>
    @if (colorPalette()) {
      <p class="text-nowrap text-center font-normal text-gray-900">{{ colorPalette()?.colorName }}</p>
    }
  </div>

  @if (colorPalette()) {
    <app-palette-row class="mt-10" [colorPalette]="colorPalette()!"></app-palette-row>

    <app-ui-preview class="w-full" [colorPalette]="colorPalette()!"></app-ui-preview>

    <app-code-export-bloc class="mt-10" [colorPalette]="colorPalette()!"></app-code-export-bloc>
  }
</div>
