<div class="animate-pop w-1/2 rounded-2xl border border-gray-300 bg-white p-6">
  <fieldset aria-label="Choose a type of export">
    <div class="grid grid-cols-3 gap-3">
      <button
        class="flex w-full cursor-pointer items-center justify-center rounded-md px-3 py-3 text-sm font-semibold uppercase focus:outline-none sm:flex-1 transition-all"
        [ngClass]="
          codeType() === 'TAILWIND4'
            ? 'bg-gray-950 text-white'
            : 'border border-gray-950 text-gray-950 hover:bg-gray-100'
        "
        (click)="codeType.set('TAILWIND4')"
      >
        <input type="radio" name="code-type" value="TailwindCSS 4.x" class="sr-only" />
        <span>TailwindCSS 4.x</span>
      </button>

      <button
        class="flex cursor-pointer items-center justify-center rounded-md px-3 py-3 text-sm font-semibold uppercase focus:outline-none sm:flex-1 transition-all"
        [ngClass]="
          codeType() === 'TAILWIND3'
            ? 'bg-gray-950 text-white'
            : 'border border-gray-950 text-gray-950 hover:bg-gray-100'
        "
        (click)="codeType.set('TAILWIND3')"
      >
        <input type="radio" name="code-type" value="TailwindCSS 3.x" class="sr-only" />
        <span>TailwindCSS 3.x</span>
      </button>
      <button
        class="flex cursor-pointer items-center justify-center rounded-md px-3 py-3 text-sm font-semibold uppercase focus:outline-none sm:flex-1 transition-all"
        [ngClass]="
          codeType() === 'CSS'
            ? 'bg-gray-950 text-white'
            : 'border border-gray-950 text-gray-950 hover:bg-gray-100'
        "
        (click)="codeType.set('CSS')"
      >
        <input type="radio" name="code-type" value="Standard CSS" class="sr-only" />
        <span>Standard CSS</span>
      </button>
    </div>
  </fieldset>

  @defer (when code()) {
    <pre><code [highlightAuto]="code()!" [languages]="['css', 'js']" lineNumbers class="hljs  rounded-lg "></code></pre>
  }
</div>
