<div class="flex h-fit w-fit items-center gap-4 rounded-full border-2 border-gray-950 bg-white px-4 py-3">
  <div class="size-10 rounded-full border border-gray-400" [ngStyle]="{ 'background-color': colorInput.length >= 6 ? '#' + colorInput : '#ffffff' }"></div>
  <div class="flex rounded-md">
    <span class="inline-flex items-center text-xl font-light text-gray-500"> # </span>
    <input
      #colorInputElement
      id="hex-color"
      name="hex-color"
      type="text"
      placeholder="ffffff"
      maxlength="7"
      [ngModel]="colorInput"
      (ngModelChange)="onColorChange($event)"
      class="block w-24 min-w-0 border-transparent px-0 py-1.5 text-2xl font-medium uppercase text-gray-900 placeholder:text-gray-300 focus:border-transparent focus:ring-0"
    />
  </div>
</div>
